.movieCategory {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: transform 0.25s cubic-bezier(0.33, 0.04, 0.63, 0.93);
  -o-transition: transform 0.25s cubic-bezier(0.33, 0.04, 0.63, 0.93);
  -webkit-transition: -webkit-transform 0.25s
    cubic-bezier(0.33, 0.04, 0.63, 0.93);
  transition: -webkit-transform 0.25s cubic-bezier(0.33, 0.04, 0.63, 0.93);
  -o-transition: -o-transform 0.25s cubic-bezier(0.33, 0.04, 0.63, 0.93);
  transition: transform 0.25s cubic-bezier(0.33, 0.04, 0.63, 0.93);
  transition: transform 0.25s cubic-bezier(0.33, 0.04, 0.63, 0.93),
    -webkit-transform 0.25s cubic-bezier(0.33, 0.04, 0.63, 0.93),
    -o-transform 0.25s cubic-bezier(0.33, 0.04, 0.63, 0.93);
  &:hover {
    -webkit-transform: scale(1.08) translateZ(0);
    transform: scale(1.08) translateZ(0);
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
  }
  video {
    opacity: 0;
    z-index: 1;
    position: relative;
    -webkit-transition: opacity 0.25s ease-in;
    -o-transition: opacity 0.25s ease-in;
    transition: opacity 0.25s ease-in;
    &:hover{
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 768px) {
  .movieCategory {
    img{
      position: relative;
    }
  }
}
